.App {

}

.app-stocks-cell-box {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	color:white;
	/*text-align: center;*/
	font-size: 0.5em;
}

.call-status-2 {
	background-color: red;
}

.call-status-1 {
	background-color: green;
}

.call-status-0 {
	background-color: silver;
}

.app-stocks-cell {
	/*display: inline-flex;*/
	display: inline-block;
	/*height: 100%;*/
	vertical-align: middle;
	text-align: center;
}

.app-stock-cell-boxes {
	display: inline-flex;
}

.app-stocks-cell-text {
	cursor: pointer;
}

.app-stocks-row {
	border-bottom-style: dashed;
	border-width: 1px;
	padding: 10px;
	margin-bottom: 0px;
}

.app-stocks-title-text {
	padding-left: 30px;
	cursor: pointer;
}

.app-stocks-cell-index {
position: absolute;
color: silver;
}

.greenBG {
	background-color: LightCyan;
}

.greenTopBorder {
	border-bottom-style: solid;
	border-color: Cyan;
}

.app-buttons-button {
	margin:5px;
}

.app-links, .app-buttons{
	margin: 10px;
}

.app-links-link {
	cursor: pointer;
	margin: 5px;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
